//Fonts
$baseFont: 'Gudea', sans-serif;

//Colours
$white: #fff;
$darkGrey: #59554e;
$lightGrey: #a8a8a8;
$lightestGrey: #dbdbdb;
$darkBlue: #478680;
$lightBlue: #b1ccc9;

// grid variables
$grid-columns: 12;
$grid-max-width: 62em;